<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Contact</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
	<header class="nav-down">

		<img src="images/white-bulb.png">
		<span id="name">Henry Woody</span>

		<nav class="header">
			<a href="index.html" class="header">Home</a>
			<a href="projects.html" class="header">Projects</a>
			<!-- <a href="interests.html" class="header">Interests</a> -->
			<a href="contact.html" class="header current">Contact</a>
		</nav>

		<nav class="drawer">
			<button type="button" class="drawer nav-drawer-btn" onclick="toggleNavDrawer()">&times;</button>
			<a href="index.html"  class="drawer">Home</a>
			<a href="projects.html" class="drawer">Projects</a>
			<!-- <a href="interests.html" class="drawer">Interests</a> -->
			<a href="contact.html" class="drawer current">Contact</a>
		</nav>

		<button type="button" class="drawer nav-drawer-btn" id="nav-drawer-open" onclick="toggleNavDrawer()">+</button>
	</header>

	<main>
		<h1>Contact</h1>

		<section id="main">
			<p>
				Here you go:
			</p>

			<table>
				<tr>
					<td>Electronic Mail</td>
					<td><a href="mailto:contact@henrywoody.com">contact@henrywoody.com</a></td>
				</tr>
				<tr>
					<td>Telephone</td>
					<td>(561) 510-1860</td>
				</tr>
				<tr>
					<td>Location</td>
					<td rowspan="2">600 First Ave <br/>Seattle, WA 98104</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
				</tr>
			</table>
		</section>

	</main>

	<footer>
		<hr>

		<p>
			&copy; 2018 Henry Woody
		</p>
	</footer>

	<script type="text/javascript" src="js/header.js"></script>
</body>
</html>